@import "./shadcn.css";

.fa-file-code{
    color: #2f86cc;
}
.fa-folder{
color: #fdd871;
}
.fa-file-lines{
color: #5a932a;
}
.container {
    width: 100%;
    height: 100vh;
}
.editor-top {
    display: flex;
    justify-content: space-between;
}